.blocked {
    background-color: black;
}

.container {
    border: 1px solid rgb(0,0,50);
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}

.destination {
    background-color: rgb(0,0,200);
}

.evaluated {
    background-color: rgb(100,0,0);
}

.evaluating {
    background-color: rgb(0,100,0);
}

.path {
    background-color: purple;
    background-color: rgb(80,0,80);
}

.source {
    background-color: rgb(255,127,0);
}

.unblocked {
    background-color: rgb(75,85,230);
    background-color: rgb(230,225,75, 0.9);
    background-color: white;
    background-color: rgb(200,200,180);
    background-color: #002E5B;
    background-color: #281400;
}


.valueF{
    font-size: 10px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 6px);
    color: white;
}

.valueG {
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: white;
}

.valueH {
    font-size: 10px;
    position: absolute;
    top: 0px;
    right: 3px;
    color: white;
}

