* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.closeButton {
    color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.closeButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    position: relative;
}

.linkBlue {
    background-image: linear-gradient(to right, rgb(0,0,100), rgb(0,0,150));
}

.linkBlue:hover {
    background-image: linear-gradient(to right, rgb(0,0,150), rgb(0,0,175));
}

.linkGray {
    background-image: linear-gradient(to right, rgb(100,100,100), rgb(150,150,150));
}

.linkGray:hover {
    background-image: linear-gradient(to right, rgb(150,150,150), rgb(175,175,175));
}

.linkGreen {
    background-image: linear-gradient(to right, rgb(0,100,0), rgb(0,150,0));
}

.linkGreen:hover {
    background-image: linear-gradient(to right, rgb(0,150,0), rgb(0,175,0));
}

.linkOrange {
    background-image: linear-gradient(to right, rgb(153,76,0), rgb(204,102,0));
}

.linkOrange:hover {
    background-image: linear-gradient(to right, rgb(204,102,0), rgb(255,128,0));
}

.linkRed {
    background-image: linear-gradient(to right, rgb(100,0,0), rgb(150,0,0));
}

.linkRed:hover {
    background-image: linear-gradient(to right, rgb(150,0,0), rgb(175,0,0));
}

.menu {
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: #281400;
    top: 0px;
    left: -100%;
    z-index: 5;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu.active {
    left: 0px;
    transition: 350ms;
}


.menuButton {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.navBar {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #281400;
    height: 60px;
    width: 100vw;
}

.navigationLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0px 16px 16px;
}

.navigationLink:hover {
    background-color: rgb(30,15,0);
}

.navigationTitle {
    font-size: 30px;
    margin-left: 10px;
    display: inline-block;
    color: rgb(230,230,200);
}


.navigationLinksContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.screenTitle {
    color: rgb(230,230,200);
    font-family: Arial, Helvetica, sans-serif;
}